*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

:root {
    --width: 70%;
}

html {
    scroll-behavior: smooth;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23222b;
    gap: 40px;
    position: relative;
}

@keyframes aparecer {
    from {
        scale: 0.5;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}


header{
    display: flex;
    gap: 20px;
    width: var(--width);
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.288);
    padding: 20px;
    border-radius: 30px;
    font-size: 25px;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1000;
}

.logo {
    width: 10%;
    align-self: center;
    padding-left: 10px;
    font-weight: 600;
    font-size: 30px;
    background: rgb(255,250,250);
    background-clip: text;
    background: linear-gradient(90deg, rgba(255,250,250,1) 0%, rgba(198,65,213,1) 40%, rgba(164,13,255,1) 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

.whatsapp {
    border: none;
    background-color: #2E2D39;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    text-transform: uppercase;
}
.whatsapp i {
    display: none;
    
}
.whatsapp:hover{
    transform: scale(1.08);
}

.navigator {
    width: 80%;
}

.navigator ul {
    display: flex;  
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
    list-style: none;
}

.navigator ul li {
    cursor: pointer;
    position: relative;
}

.navigator ul li a {
    text-decoration: none;
}

.navigator ul li a i{
    display: none;
}

.navigator ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(255,250,250);
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    position: absolute;
    left: 0px;
    bottom: -5px;
    transition: all 500ms ease;
}

.navigator ul li:hover::after{
    width: 100%;
}


.main-info {
    display: flex;
    flex-direction: column;
    width: var(--width);
}

.person-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 70px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    padding-bottom: 100px;
}

.info h1{
    font-size: 75px;
    background: rgb(255,250,250);
    background-clip: text;
    background: linear-gradient(90deg, rgba(255,250,250,1) 0%, rgba(198,65,213,1) 40%, rgba(164,13,255,1) 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

.info p {
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.cv {
    width: 200px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background: rgb(255,250,250);
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    border-radius: 10px;
    transition: all 500ms ease;
}

.cv:hover {
    transform: scale(1.08);
}


.img {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    justify-content: center;
    align-self: flex-end;
    height: 100%;
}
.foto {
    width: 100%;
    z-index: 100;
    margin-left: 20px;
}
.svg {
    position: absolute;
    width: 90%;
    margin-left: 80px;
}


.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 150px;
    gap: 40px;
}

.tiltle-serivices{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
    margin-top: 10px;
    position: relative;
    background: rgb(255,250,250);
    background-clip: text;
    background: linear-gradient(90deg, rgba(255,250,250,1) 0%, rgba(198,65,213,1) 40%, rgba(164,13,255,1) 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}


.tiltle-serivices::before{
    content: "What I do";
    font-size: 20px;
    position: absolute;
    font-weight: 400;
    top: -30px;
    background: rgb(255,250,250);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}


.tiltle-serivices::after {
    content: "";
    width: 50%;
    height: 5px;
    position: absolute;
    background: rgb(255,250,250);
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    bottom: -10px;
    border-radius: 30px;
}

.service-p{
    width: 70%;
    font-size: 20px;
    text-align: center;
    opacity: 0.7;
}

.section-cards {
    margin-top: 20px;
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.cards {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #2E2D39;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    transition: all 500ms ease;
    animation: aparecer linear both;
    animation-timeline: view();
    animation-range: entry 20%  cover 30%;
}

.cards:hover {
    scale: 1.03;
    transform: translateY(-20px);
}

.cards img{
    width: 120px;
    margin-top: 20px;
}

.cards > h3 {
    font-size: 25px;
    margin-bottom: 20px ;
}

.cards > p {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.btn-cart{
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}


.title-portafolio{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
    margin-top: 10px;
    position: relative;
    background: rgb(255,250,250);
    background-clip: text;
    background: linear-gradient(90deg, rgba(255,250,250,1) 0%, rgba(198,65,213,1) 40%, rgba(164,13,255,1) 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  

}



.title-portafolio::after{
    content: "my projects";
    font-size: 20px;
    position: absolute;
    font-weight: 400;
    top: -30px;
    background: rgb(255,250,250);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    text-transform: capitalize;
}

.title-portafolio::before{
    content: "";
    width: 50%;
    height: 5px;
    position: absolute;
    background: rgb(255,250,250);
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    bottom: -10px;
    border-radius: 30px;
}

.filter {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin-top: 30px;
    font-size: 20px;
}

.filter li {
    cursor: pointer;
}

.filter li:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width:  80px;
    height: 40px;
    color: black;
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
}

.projects {

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.port {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 250;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
    animation: aparecer linear both;
    animation-timeline: view();
    animation-range: entry 10%  cover 20%;
}

.port i {
    position: absolute;
    font-size: 100px;
    font-weight: 400;
    opacity: 0;
    z-index:   200;
}

.port img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    position: relative;
    object-fit: cover;
    transition: 0.5s;
}

.port:hover img{
    transform: scale(1.2);
}

.port::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    z-index: 0;
    border-radius: 20px;
    z-index: 100;
    opacity: 0;
}



.port:hover::before{
    background-color: rgba(120, 76, 251, 0.55);
    opacity: 1;
}

.port:hover > i ,.port:hover h3,.port:hover span{
    opacity: 1;
}

.port h3 {
    position: absolute;
    opacity: 0;
    left: 30px;
    bottom: 50px;
    font-size: 20px;
    z-index: 200;
    text-transform: uppercase;
}

.port span {
    position: absolute;
    opacity: 0;
    z-index: 200;
    bottom: 20px;
    left: 30px;
    font-size: 18px;
}

.btn-projects{
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 150px;
}



.about-title{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
    margin-top: 10px;
    position: relative;
    background: rgb(255,250,250);
    background-clip: text;
    background: linear-gradient(90deg, rgba(255,250,250,1) 0%, rgba(198,65,213,1) 40%, rgba(164,13,255,1) 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

.about-title::before{
    content: "";
    width: 50%;
    height: 5px;
    position: absolute;
    background: rgb(255,250,250);
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    bottom: -10px;
    border-radius: 30px;
}

.about-title::after{
    content: "who I am";
    font-size: 20px;
    position: absolute;
    font-weight: 400;
    top: -30px;
    background: rgb(255,250,250);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    text-transform: capitalize;
}

.about-info {
    display: flex;
    width: 100%;
    margin-top: 80px;
    animation: aparecer linear both;
    animation-timeline: view();
    animation-range: entry 10%  cover 20%;
}

.img-second{
    display: flex;
    width: 50%;
    justify-content: center;
}

.second {
    z-index: 100;
}

.svg2 {
    position: absolute;
    width: 400px;
    height: 400px;
    align-self: center;
    margin-left: 200px;
    margin-bottom: 100px;
}




.about-info div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    height: 100%;
    justify-content: center;
    padding-top: 50px;
}

.about-info div h4{
    font-size: 30px;
}

.about-info div h4 span {
    background: rgb(255,250,250);
    background-clip: text;
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

.about-info div  p {
    font-size: 20px;
}

.skills {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.skills li i {
    font-size: 50px;
}

.skills li:nth-child(1) i{
    color: #dd4b25;
}

.skills li:nth-child(2) i{
    color: #254ade;
}

.skills li:nth-child(3) i{
    color: #e8d54c;
}

.title-testimonies{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
    margin-top: 10px;
    position: relative;
    background: rgb(255,250,250);
    background-clip: text;
    background: linear-gradient(90deg, rgba(255,250,250,1) 0%, rgba(198,65,213,1) 40%, rgba(164,13,255,1) 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

.title-testimonies::before{
    content: "";
    width: 50%;
    height: 5px;
    position: absolute;
    background: rgb(255,250,250);
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    bottom: -10px;
    border-radius: 30px;
}


.title-testimonies::after{
    content: "What do they say about us";
    font-size: 20px;
    position: absolute;
    font-weight: 400;
    top: -30px;
    background: rgb(255,250,250);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    text-transform: capitalize;
}


.test{
    display: flex;
    width: 100%;
    gap: 40px;
    animation: aparecer linear both;
    animation-timeline: view();
    animation-range: entry 10%  cover 20%;
}

.coment {
    display: flex;
    flex-direction: column ;
    width: 50%;
    gap: 60px;
}

.coment > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.coment > div::before{
    content: "";
    width: 85%;
    height: 5px;
    position: absolute;
    background: rgb(255,250,250);
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    bottom: -20px;
    border-radius: 30px;
}
.coment-p {
    text-align: left;
    font-size: 20px;
    text-wrap: balance;
}

.img-testi{
    width: 50%;
}

.name-location {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-transform: capitalize;
    font-size: 20px;
}

.name-location span {
    font-weight: 300;
    font-size: 15px;
}

.fa-star {
    color: #F7F701;
}

.slap {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 85%;
    border: none;
    text-align: center;
    background-color: transparent;
}

.fa-arrow-right, .fa-arrow-left{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width:50px;
    height: 50px;
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    border-radius: 50%;
    transition: all 0.5s ease;
}

.fa-arrow-right:hover, .fa-arrow-left:hover{
    scale: 1.2;
}

.contact-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
    margin-top: 10px;
    position: relative;
    background: rgb(255,250,250);
    background-clip: text;
    background: linear-gradient(90deg, rgba(255,250,250,1) 0%, rgba(198,65,213,1) 40%, rgba(164,13,255,1) 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}


.contact-title::before{
    content: "";
    width: 50%;
    height: 5px;
    position: absolute;
    background: rgb(255,250,250);
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    bottom: -20px;
    border-radius: 30px;
}


.contact-title::after{
    content: "More info";
    font-size: 20px;
    position: absolute;
    font-weight: 400;
    top: -30px;
    background: rgb(255,250,250);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    text-transform: capitalize;
}

.contact {
    width: 100%;
    display: flex;
    gap: 30px;
    background-color: #2E2D39;
    margin-top: 40px;
    border-radius: 20px;
    animation: aparecer linear both;
    animation-timeline: view();
    animation-range: entry 10%  cover 20%;
}

.contact-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
    gap: 30px;
}


.contact-info h3 {
    font-size: 30px;
    background: rgb(255,250,250);
    background-clip: text;
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    position: relative;
    text-transform: capitalize;
}

.contact-info h3::after{
    content: "";
    width: 20%;
    height: 5px;
    position: absolute;
    background: rgb(255,250,250);
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    bottom: -10px;
    left: 0px;
    border-radius: 30px;
}

.contact-info p {
    font-size: 20px;
    text-wrap: wrap;
}

.list-contact {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 30px;
}

.list-contact li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.list-contact li i {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width:50px;
    height: 50px;
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    border-radius: 50%;
    transition: all 0.5s ease;
}

.mensage {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    width: 50%;
}

.mensage h3 {
    font-size: 30px;
    background: rgb(255,250,250);
    background-clip: text;
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    position: relative;
    text-transform: capitalize;
}


.mensage h3::after{
    content: "";
    width: 10%;
    height: 5px;
    position: absolute;
    background: rgb(255,250,250);
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    bottom: -10px;
    left: 0px;
    border-radius: 30px;
}

.input-con{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.input-con input {
    padding: 15px;
    width: 50%;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    color: black;
    border: 3px solid transparent;
}

.input-con input:focus {
    border: 3px solid rgba(198,65,213,1);
}

.mensage textarea{
    resize: none;
    width: 100%;
    height: 200px;
    font-size: 20px;
    padding: 20px;
    outline: none;
    border: 3px solid transparent;
    border-radius: 10px;
    color: black;
}

.mensage textarea:focus{
    border: 3px solid rgba(198,65,213,1);
}

.mensage button {
    width: 200px;
    font-size: 20px;
    cursor: pointer;
}


footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #2E2D39;
}

.contend-fo{
    display: flex;
    width: var(--width);
    padding: 50px;
    gap: 30px;
}

.contend-fo p {
    width: 50%;
    align-self: center;
    font-size: 20px;
    text-align: center;
}

.contend-fo p a {
    background: rgb(255,250,250);
    background-clip: text;
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}


.contend-fo ul {
    width: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 20px;
    list-style: none;
    gap: 30px;
    position: relative;
}

.contend-fo ul li {
    align-self: center;
}

.fa-facebook-f, .fa-instagram,  .fa-linkedin-in{
    transition: all 0.4s ease;
}

.fa-facebook-f:hover, .fa-instagram:hover,  .fa-linkedin-in:hover{
    transform: scale(1.5);
}

.linea {
    width: 50px;
    height: 5px;
    background-color: white;
    border-radius: 30px;
    align-self: center;
}

.arriba {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    align-self: center;
    background: linear-gradient(90deg, rgba(198,65,213,1) 0%, rgba(164,13,255,1) 63%);
    right: -50px;
    text-decoration: none;
}

.arriba::before{
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: pulsar 1s infinite ease-out;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    opacity: 0.2;
}


@keyframes pulsar {
    100%{
        opacity: 0;
        transform: scale(2);
    }
}
